{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="">{% trans %}Welcome{% endtrans %}</h1>
    {% for message in app.flashes('message') %}
        {{ message }}
    {% endfor %}

    <p>{% trans %}This is a message that will be translated{% endtrans %}</p>
{% endblock %}
