{% extends 'base.html.twig' %}

{% form_theme formGenre 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {% if editMode %}
        {% trans %}Change of film genre{% endtrans %}
    {% else %}
        {% trans %}Add a film genre{% endtrans %} {# Ajouter un genre #}
    {% endif %}
{% endblock %}

{% block body %}
    <section class="formGenre">

        {% if editMode %}
            <h2>{% trans %}Change of film genre{% endtrans %}</h2>
        {% else %}
            <h2>{% trans %}Adding a film genre{% endtrans %}</h2> {# Ajout d'un genre #}
        {% endif %}

        {{ form_start(formGenre) }}
            {{ form_row(formGenre.name) }}
            <button type="submit" class="btn btn-secondary">
                {% if editMode %}
                    {% trans %}Save Changes{% endtrans %}
                {% else %}
                    {% trans %}Add a film genre{% endtrans %}
                {% endif %}
            </button>
        {{ form_end(formGenre) }}
        
    </section>
{% endblock %}
