{% extends 'base.html.twig' %}

{% form_theme formGenre 'bootstrap_5_layout.html.twig' %}

{% block title %}Hello GenreController!{% endblock %}

{% block body %}
    <section class="formGenre">
        {{ form_start(formGenre) }}

            {{ form_row(formGenre.name) }}

            <button type="submit" class="btn btn-secondary">
                {% if editMode %}
                    Enregistrer les modifications
                {% else %}
                    Ajouter un genre
                {% endif %}
            </button>

        {{ form_end(formGenre) }}
    </section>
{% endblock %}
