{% extends 'base.html.twig' %}

{% block title %}{% trans %}List of film genre{% endtrans %}{% endblock %}

{% block body %}
    <section class="pageListGenre">
        <h2>{% trans %}List of film genre{% endtrans %}</h2> {# Liste des genres #}
        <a class="btn btn-danger mb-3" href="{{ path('createGenre') }}">{% trans %}Add a film genre{% endtrans %}</a>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            
            {% for genre in genres %}
            <tr>
                <td>{{ genre.name }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('editGenre', {'id': genre.id}) }}">{% trans %}To modify{% endtrans %}</a> {# Modifier #}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">{% trans %}No film genre found{% endtrans %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
