/* Navbar */
nav a.titreNetflix {
    padding: 0;
    color: Red !important;
    font-weight: 500;
    font-size: 40px;
}

nav a {
    font-weight: 400;
    font-size: 20px;
}

/* Pages */

.pageListFilm, .pageShowFilm, .pageListUsers, .formRegistration{
    margin-top: 100px;
    margin-bottom: 100px;
}

.pageListFilm h2, .pageShowFilm h2, .pageListUsers h2, .formRegistration h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

/* Page affichage film */
a.card-film {
    color: white;
}

/* img survol */
.pageListFilm a {
    text-decoration: none;
}

.realisation-section {
    position: relative;
    display: block;
    margin: 0 auto;
}
.realisation-section .realisation-survol {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity ease-in-out 0.25s;
}
.realisation-section:hover .realisation-survol {
    opacity: 0;
}
.realisation-section .realisation-survol .realisation-survol-content {
    color: white;
}

.pageListFilm .card-film img {
    min-width: 300px;
    max-width: 300px;
    min-height: 425px;
    max-height: 425px;
}

/* Page détail film */

.carte {
    margin-top: 50px;
    border-radius: 5px;
}

.partiImage img {
    border-radius: 5px;
}

.cardText, .cardMovie {
    height: 50%;
    width: 100%;
}

div.cardMovie video {
    padding-bottom: 100px;
    width: 80%;
    border-radius: 5px;
}

@media screen and (max-width: 991px){
    div.cardMovie>video {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 640px){
    div.cardMovie>video {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}