body {
    padding-top: 76px;
}

a {
    text-decoration: none;
}

/*-----Fil d'ariane-----*/
ul.filDariane li {
    list-style: none;
}

/* Coder en dur */
.filDariane ul li {
    list-style: none;
}

/*-----Navbar-----*/
nav.nav_head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav a.titreNetflix {
    padding: 0;
    color: Red !important;
    font-weight: 500;
    font-size: 40px;
}

nav a {
    font-weight: 400;
    font-size: 20px;
}

/*-----Pages-----*/

.pageListFilm, .pageShowFilm, .pageformFilm, 
.pageListUsers, .formRegistration, 
.pageListGenre, .formGenre,
.formLogin{
    margin-top: 100px;
    margin-bottom: 100px;
}

.pageListFilm h2, .pageShowFilm h2, .pageformFilm h2, 
.pageListUsers h2, .formRegistration h2, 
.pageListGenre h2, .formGenre h2, .formLogin h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

/*-----Page affichage film-----*/
a.card-film {
    color: white;
}

/* Bouton ajouter un film */
.btn_add_movie {
    margin-top: 15px;
    margin-left: 20px;
}

/* Dropdown button filtre */
.menuFiltre {
    display: inline-block;
}

.menuFiltre li {
    list-style: none;
}

.menuDeroulant {
    display: none;
    position: absolute;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    z-index: 1;
}

.menuDeroulant li {
    color: rgb(112, 112, 112);
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 5px;
}

.menuDeroulant li:hover {
    color: white;
    background-color: rgb(97, 97, 97);
    cursor: pointer;
}

.menuFiltre:hover .btnDeroulant > a {
    color: rgb(255, 255, 255);
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
}

.btnDeroulant:hover .menuDeroulant {
    display: block;
}

.btnDeroulant a {
    color: rgb(112, 112, 112);
    padding: 1px 5px;
}

.btnDeroulant a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
}

/* Titre des filtre */
#title_filter > h3 {
    font-size: 20px;
}

/* img survol */
.pageListFilm a {
    text-decoration: none;
}

.realisation-section {
    position: relative;
    display: block;
    margin: 0 auto;
}
.realisation-section .realisation-survol {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity ease-in-out 0.25s;
}
.realisation-section:hover .realisation-survol {
    opacity: 0;
}
.realisation-section .realisation-survol .realisation-survol-content {
    color: white;
}

.pageListFilm .card-film img {
    min-width: 300px;
    max-width: 300px;
    min-height: 425px;
    max-height: 425px;
}

/*-----Page détail film-----*/

.carte {
    margin-top: 50px;
    border-radius: 5px;
}

.partiImage img {
    border-radius: 5px;
}

.cardText, .cardMovie {
    width: 100%;
}

div.cardMovie video {
    padding-top: 10px;
    width: 80%;
    border-radius: 5px;
}

a.retour {
    color: black;
}
a.retour:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
@media screen and (max-width: 991px){
    div.cardMovie>video {
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 640px){
    div.cardMovie>video {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}